---
layout: default
---

<div class="home">

  <ul class="post-list">
	{% assign counter = 0 %}
    {% for post in site.posts %}{% if post.landing %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><span style="float: right; padding-right: 50px;"><a href="javascript:ReverseDisplay('item{{ counter }}')"><small>(gist)</small></a></span>
        <h2>
          <span class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </span>
        </h2>
		<div id="item{{ counter }}"style="display:none;">
		<p>{{ post.description }}</p>
		</div>
      </li>
	{% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
    {% endif %}{% endfor %}
  </ul>


</div>

<script type="text/javascript" language="JavaScript">
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>
